@import "keep-react/css";
@tailwind base;
@tailwind components;
@tailwind utilities;

.banner-overlay {
  position: relative;
}
.banner-overlay::before {
  z-index: 3;
  position: absolute;
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  left: 0;
  right: 0;
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0.5) 30%,
    rgba(0, 0, 0, 0.2) 80%
  );
}

.select {
  background-image: linear-gradient(45deg, transparent 50%, currentColor 50%),
    linear-gradient(135deg, currentColor 50%, transparent 50%);
  background-position:
    calc(100% - 20px) calc(1px + 50%),
    calc(100% - 16.1px) calc(1px + 50%);
  background-size:
    4px 4px,
    4px 4px;
  background-repeat: no-repeat;
}
