@import "keep-react/css";
@tailwind base;
@tailwind components;
@tailwind utilities;

.banner-overlay {
  position: relative;
}
.banner-overlay::before {
  z-index: 3;
  position: absolute;
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  left: 0;
  right: 0;
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0.5) 30%,
    rgba(0, 0, 0, 0.2) 80%
  );
}
